<h1>Book App</h1>
<ul>
  <li *ngFor="let Book of MyBooks"> <button class="btn" (click)="deleteBook(Book.id)">Delete</button> {{Book.id}} - {{Book.title}} - {{Book.author}} </li>
</ul>

<div>
  <form (ngSubmit)="addBook()">
    <div class="form-group">
      <label for="title"> Title </label>
      <input type="text" class="form-control" placeholder="Enter title" id="title" required [(ngModel)]="titleValue" name="title">
    </div>
    <div class="form-group">
      <label for="Authro"> Author </label>
      <input type="text" class="form-control" placeholder="Enter author" id="author" required [(ngModel)]="authorValue" name="author">
      <div class="btn-group">
        <button type="submit" class="btn btn-success">submit</button>
      </div>
    </div>
  </form>
</div>